/* CSS for components across the Scratch site (e.g. banners, world map) */

[class*="feature-callout-popover_popover"] {
  display: none !important;
}

[class*="modal-with-arrow_arrow"][class*="feature-callout-popover_arrow"] {
  display: none !important;
}

[class*="stage-header_stage-button-highlighted"] {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

#navigation {
  background-color: hsl(211.28deg 60% 60%);
}
