/* CSS for components across the Scratch site (e.g. banners, world map) */

.title-banner.student-deactivation-banner {
  display: none !important;
}

.feature-callout-popover_popover- {
  display: none !important;
}

.feature-callout-popover_popover_m7c53.box_box_bP3Aq {
  display: none !important;
}

.modal-with-arrow_arrow_D0RMy.feature-callout-popover_arrow_S\+JUZ {
  display: none !important;
}

.stage-header_stage-button-highlighted\+MwOS {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
